services:
  app:
    build: .
    restart: unless-stopped
    env_file: .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - npm_network

networks:
  npm_network:
    external: true
