services:
  app:
    build:
      context: .
      args:
        VITE_APP_NAME: "Tabarruat PASTI"
    restart: unless-stopped
    env_file: .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - npm_network

networks:
  npm_network:
    external: true
